Click-To-Place

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Canvas Render</title>
    </head>
    <body>
      <h1>Canvas</h1>
      <canvas
        id="my-canvas"
        width=600
        height=600
        style="border: 1px solid black; margin-top: 60px;"
      ></canvas>
      <script>
        function positionImage () {
          // draw image at current position
          ctx.drawImage(imgTag, 0, 0);
        }
        function moveMon(ctx, x, y) {
          // clear canvas
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          // draw image at current position
          const newX = x - canvasSizeInfo.left;
          const newY = y - canvasSizeInfo.top;
          ctx.drawImage(imgTag, newX, newY);
        }
        // create an IMAGE object on DOM
        let imgTag = new Image();
        imgTag.onload = positionImage;
        imgTag.src = "https://p9.storage.canalblog.com/93/10/1362356/104373346_q.png";   // load image
        // select the CANVAS element
        let canvas = document.getElementById('my-canvas');
        // create a paintable surface on the canvas itself
        let ctx = canvas.getContext("2d");
        // tells us the sizing meta data of the canvas because setting the X and Y on the canvas
        // on click event gives us the X and Y according to whole page. There might be a better way
        // but I'm yet unsure.
        const canvasSizeInfo = canvas.getBoundingClientRect();
        // capture canvas click
        canvas.addEventListener('click', function(e) {
          // when it happens then send the canvas context (paintable surface) & the event X & Y coordinates
          moveMon(ctx, e.clientX, e.clientY)
        }, false);
      </script>
    </body>
    </html>
    <!-- https://stackoverflow.com/questions/3057162/moving-an-image-across-a-html-canvas -->
